/assignments/assignmnent2/256_ObjectCategories
*.log
*.jpg
*.png
/assignments/assignmnent3/vlfeat-0.9.21/*
/assignments/assignmnent4/dataset/*
*.torch
*.npy
/Project
/.vscode/*

cv-project/data
cv-project/data.zip
cv-project/data_new

**/__pycache__
*.pyc
*.ipynb
.ipynb_checkpoints
.vscode

*.pkl
*.mp4

!a.ipynb